.section4 {
    margin-top: 5px;
    width: 375px;
    height: 490px;
    background: #F7F7FA;
    overflow: hidden;
    &__title {
        display: flex;
        align-items: center;
        width: 375px;
        padding: 60px 0 30px 20px;
        font-family: AlibabaPuHuiTi-Bold;
        font-size: 28px;
        color: #26253E;
        letter-spacing: 0.34px;
    }
    &__title::after {
        // position: absolute;
        // left: 265px;
        content: '';
        flex-grow: 1;
        margin-left: 20px;
        height: 4px;
        background: #FDDC75;
    }
    &__list {
        display: flex;
        padding: 0 20px;
    }
    &__normal-card {
        margin-left: 10px;
    }
    &__wrapper {
        padding-top: 65px;
        overflow-x: auto;
    }
}