* {
    margin: 0;
}

.main {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.left {}

#bui {
    border: 1px solid black;
}

#renderCanvas {
    border: 1px solid black;
    background-color: azure;
}